<!-- Copyright (c) 2020, RTE (https://www.rte-france.com)                          -->
<!-- Copyright (c) 2020 RTE international (https://www.rte-international.com)      -->
<!-- See AUTHORS.txt                                                               -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public           -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this           -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.                      -->
<!-- SPDX-License-Identifier: MPL-2.0                                              -->
<!-- This file is part of the Let’s Coordinate project.                            -->


    Message
    <div style="width:100%">
        <textarea  id="message" name="message" style="width:100%" class="opfab-textarea">{{card.data.message}}</textarea>
    </div>
    <br/>
    <table style="width: 100%;padding:2px">
        <tr "padding:5px">
            <td style="width: 15%;padding:5px">
                Conference subject
            </td>
            <td style="width: 35%;padding:5px">
                <input id="conf_subject" name="conf_subject" style="width: 100%;" value="{{card.data.conf_subject}}" class="opfab-input"></input >
            </td>
            <td style="width: 15%;padding:5px">
                Link for conference
            </td>
            <td style="width: 35%;padding:5px">
                <input id="conf_link" name="conf_link" placeholder="http://...." style="width: 100%" value="{{card.data.conf_link}}" class="opfab-input"></input >
            </td>
        </tr>
        <tr "padding:5px">
            <td style="width: 15%;padding:5px">
                Report name
            </td>
             <td style="width: 35%;padding:5px">
                <input id="report_title" name="report_title" style="width: 100%;" value="{{card.data.report_title}}" class="opfab-input"></input >
            </td>
             <td style="width: 15%;padding:5px">
                Link for report
            </td>
             <td style="width: 35%;padding:5px">
                <input id="report_link" name="report_link" placeholder="http://...." style="width: 100%;" value="{{card.data.report_link}}" class="opfab-input"></input >
            </td>
        </tr>

    </table>

<script>
    templateGateway.getSpecificCardInformation = function () {
        const message = document.getElementById('message').value;
        const conf_subject = document.getElementById('conf_subject').value;
        const conf_link = document.getElementById('conf_link').value;
        const report_title = document.getElementById('report_title').value;
        const report_link = document.getElementById('report_link').value;
        const startDate = document.querySelectorAll('[formcontrolname="date"]')[0].value;
        const endDate = document.querySelectorAll('[formcontrolname="date"]')[1].value;

        if (!(message.length>=1 || conf_subject.length>=1 || conf_link.length>=1 || conf_subject.length>=1 || conf_link.length>=1))
            return { valid:false , errorMsg:'You should provide a message, conference or report details'};

        if (conf_subject.length>=1 && conf_link.length<1)
            return { valid:false , errorMsg:'Conference link is required!'};
        if (conf_subject.length<1 && conf_link.length>=1)
            return { valid:false , errorMsg:'Conference subject is required!'};

        if (report_title.length>=1 && report_link.length<1)
            return { valid:false , errorMsg:'Report link is required!'};
        if (report_title.length<1 && report_link.length>=1)
            return { valid:false , errorMsg:'Report name is required!'};

        const card = {
		title : { key : "cardFeed.title" },
        summary : {
            key : "cardFeed.summary",
            parameters: { startDate: new Date(startDate).toLocaleDateString(), endDate: new Date(endDate).toLocaleDateString() }
        },
        data : {
                message: message,
                conf_subject:conf_subject,
                conf_link:conf_link,
                report_title:report_title,
                report_link:report_link,
                source: {key: "process.label"}
            }
        };
        return {
            valid: true,
            card: card,
            viewCardInAgenda: false
        };

    }
</script>